In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pysindy as ps
import os

In [41]:
#Filtering the columns from raw data#
def data_column_filter_by_col_name(raw_data, num):
    col_name_list = list(raw_data.columns)
    reqd_col_names = list(filter(lambda x : "Smoothed result" in x , col_name_list))
    #plotting the data for each xl#
    plt.figure(num)
    plt.plot(raw_data[reqd_col_names])
    plt.close()
    return raw_data[reqd_col_names]

In [43]:
file_loc = "C:/Users/SAWON/OneDrive/Desktop/data"
file_list = os.listdir(file_loc)
data_dict = dict()
#Looping through the files and importing the xlsx files#
count = 1
for file in file_list:
    if file.endswith(".xlsx"):
        raw_data = pd.read_excel(file_loc+"/"+file)
        actual_data = data_column_filter_by_col_name(raw_data , count)
        count += 1
        data_dict[file] = actual_data

In [32]:
print(list(data_dict.keys()))
data_dict['my_ACN(Acetate_5).xlsx']

['my_ACN(Acetate_5).xlsx', 'my_ACN(Acetate_6).xlsx', 'my_ACN(Acetate_7).xlsx', 'my_ACN(Citrate_5).xlsx', 'my_ACN(Citrate_6).xlsx', 'my_ACN(Citrate_7).xlsx', 'my_ACN(PBS_5).xlsx', 'my_ACN(PBS_6).xlsx', 'my_ACN(PBS_7).xlsx', 'my_ACRYL(ABS5).xlsx', 'my_ACRYL(ABS6).xlsx', 'my_ACRYL(ABS7).xlsx', 'my_ACRYL(CBS5).xlsx', 'my_ACRYL(CBS6).xlsx', 'my_ACRYL(CBS7).xlsx', 'my_ACRYL(PBS5).xlsx', 'my_ACRYL(PBS6).xlsx', 'my_ACRYL(PBS7).xlsx', 'my_MAA(PBS_5).xlsx', 'my_MAA(PBS_6).xlsx', 'my_MAA(PBS_7).xlsx']

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3691 rows x 0 columns]